h1 {
color:#006600;
text-align:center;
background:blanchedalmond;
padding:20px
}

.encabezado {
    color:#003300
}

body {
      background: silver    ;
}
h2{
background: rgba(168, 168, 168, 40%); 
color: #006600 ;
}
p{
    color: red;
}
